<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %-40.40logger{40} - %msg %n</Pattern>
        </layout>
    </appender>

    <appender name="default" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>true</Append>
        <File>./logs/default.log</File>
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %-40.40logger{40} - %msg %n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/default.%d{yyyyMMdd}.log.gz</fileNamePattern>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>true</Append>
        <File>./logs/debug.log</File>
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %-40.40logger{40} - %msg %n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/debug.%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="default" />
        <appender-ref ref="debug" />
    </root>

    <logger name="kr.co.finger.damoa" level="TRACE" />
</configuration>
