html, body {
    position: relative;
    height: 100vh;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

#header {
    position: relative;
    width: 100%;
    height: 55px;
    background: #fff;
}
    .logo-img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 20px;
        margin: auto 0;
    }

.swiper-container {
    width: 100%;
    height: 100%;
}

    .swiper-wrapper img {
        width: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

#footer {
    min-height: 80px;
    height: 100%;
    padding: 15px 0 15px 30px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: .8125rem;
    line-height: 1.5;
}