@charset "UTF-8";

/*
**
** _form.scss
** Author : 이영주
** Create date : 2018.02.26
** Description : Damoa 서비스에서 사용되는 input등을 관리하는 파일 damoa.scss 에서 최종으로 compile 됨
**
*/


/* Inputs */

textarea {
    resize:none;
}

.form-control {
    position: relative;

    // height: 1.875rem;
    padding:.375rem;
    font-size:.75rem;

    border:1px solid #d3d3d3;
    border-radius: 0;

    background-color:#fff;

    appearance:none; /* 기본 스타일 없애기 */
    -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
}

table {
    td.form-td-inline {
        input[type="text"].form-control {
            width:calc(100% - 1.6rem);
            display: inline-block;
        }
    }
}

select.form-control {
    display: inline-block;
    // flex: .5;

    height: 1.875rem !important;
    min-width: 70px;
    // max-width: 120px;

    padding-right:2rem;

    // margin-right: .25rem;

    background-image:url('/assets/imgs/common/select-direction.png');
    background-position:calc(100% - .5rem);
    background-repeat: no-repeat;
    background-size: 20px 12px;/* background로 배경 깔아줌 */
}

select::-ms-expand {
    display: none;
}

.form-check-input {
    width:1.25rem;
    height:1.25rem;

    border: 1px solid #c2c2c2;
    border-radius: 0;
}

.input-with-magnet {
    position: relative;
    flex:auto;
    max-width: 450px;
    .form-control {
        width: 100%;
    }
    .search {
        position:absolute;
        z-index: 10;
        top:.5rem;
        right:.5rem;
        width: 1.4375rem;
        height: .875rem;
    }

    .remove-text {
        position:absolute;
        z-index: 10;
        right:2.4rem;
        top:.7rem;
        width: 1.125rem;
        height: 1.125rem;
    }
}

.remove-text {
    position:absolute;
    z-index: 10;
    right:2.4rem;
    top:.7rem;
    width: 1.125rem;
    height: 1.125rem;
}

.form-inline {
    .form-check-inline {
        width:auto;
    }
    button {
        margin-left: .25rem;
    }
}

.form-check {
    &.form-check-inline {
        width:auto;
    }
}

@media screen and (max-width:768px) {
    button {
        margin-left: 0;
    }
}

.year-month-dropdown {
    select {
        flex:.35 1 70px;
    }

    span {
        flex:.1 1 auto;
    }
}

.textarea-byte-counter {
    position:absolute;
    right:2.3rem;
    bottom:.6rem;

    font-size: .8125rem;
    color:#d3d3d3;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    margin:0;
}

/* disabled checkbox */
input[type="checkbox"].checkbox-disabled + label span {
    display:inline-block;
    width:20px;
    height:20px;
    // margin:-2px 7px 0 0;
    vertical-align:middle;
    background:url('/assets/imgs/common/checkbox-checked-disabled.jpg') left top no-repeat;
    background-size: 100% 100%;
    cursor:pointer;
}

input[type="checkbox"].checkbox-none-check-disabled + label span {
    display:inline-block;
    width:20px;
    height:20px;
    // margin:-2px 7px 0 0;
    vertical-align:middle;
    background:url('/assets/imgs/common/checkbox-unchecked-disabled.jpg') left top no-repeat;
    background-size: 100% 100%;
    cursor:pointer;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:20px;
    height:20px;
    // margin:-2px 7px 0 0;
    vertical-align:middle;
    background:url('/assets/imgs/common/checkbox-unchecked.jpg') left top no-repeat;
    background-size: 100% 100%;
    cursor:pointer;
}

input[type="checkbox"]:checked.checkbox-check-disabled + label span {
    display:inline-block;
    width:20px;
    height:20px;
    vertical-align:middle;
    background:url('/assets/imgs/common/checkbox-checked-disabled.jpg') left top no-repeat;
    background-size: 100% 100%;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url('/assets/imgs/common/checkbox-checked.jpg') left top no-repeat;
    background-size: 100% 100%;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    margin:0;
}

input[type="radio"] + label span {
    display:inline-block;
    width:21px;
    height:21px;
    margin:-2px 7px 0 0;
    vertical-align:middle;
    background:url('/assets/imgs/common/radio-unchecked.png') left top no-repeat;
    background-size: 100% 100%;
    cursor:pointer;
}
input[type="radio"]:checked + label span {
    background:url('/assets/imgs/common/radio-checked.png') left top no-repeat;
    background-size: 100% 100%;
}


/*******************
********************
Search box
********************
*******************/

.search-box {
    padding: 1.25rem 1rem;
    background:#f2f4f6;
    border:1px solid #d3d3d3;

    margin-bottom: 1.875rem;
    font-size: .875rem;

    .search-box-label {
        flex:.5;
        max-width : 100px;
        min-width: 100px;

        padding-top: calc(0.375rem + 1px);
        padding-bottom: calc(0.375rem + 1px);
        margin-bottom: 0;

        font-size: inherit;
        line-height: 1.5;
        text-align: left;
    }

    .form-control {
        position: relative;

        padding:.375rem;
        font-size:.75rem;
    }

    select.form-control {
        // flex: .5;
        padding-right:2rem;
        max-width: 120px;
        height: 1.875rem;
        margin-right: .25rem;
    }

    input[type="text"].form-control, input[type="date"].form-control {
        flex: 1;
        // width: 100%;
        height: 1.875rem;
    }

    // .search {
    //     position:absolute;
    //     z-index: 10;
    //     right:1.5rem;
    //     width: 1.4375rem;
    //     height: .875rem;
    // }

    .btn-wide {
        width:8.75rem;
    }
}


@media screen and (max-width:768px) {

    .search-box {
        .col {
            margin-bottom: 1rem;
        }

        select.form-control {
            width: auto;
            margin-right: 0;
        }
    }

    .address-form-in-table {
        flex-direction:column;

        .zipcode {
            display: flex;

            .zipcode-input {
                flex:auto;
            }
        }

        .address-lines {
            flex-direction: column;

            input[type="text"]{
                flex:1;
                &.first-line {
                    margin-right: 0;
                }
                &.second-line {

                }
            }

        }
    }

    .email-contact {
        input {
            &.email-name {
                flex:1;
            }

            &.email-provider {
                flex:1;
                margin-right: 0;
            }

            &.provider-preset {
                width:100%;
            }
        }
    }

    .year-month-dropdown {
        select {
            flex:.3 1 40%;
        }

        span {
            flex:.1 1 auto;
        }
    }
}


/* Range calendar */

.date-input {
    display: flex;
    flex: .5;

    & > .input-group {
        width:100%;
    }

    input[type="text"].form-control {
        flex: 1;
        max-width: 130px;
    }
}

.ui-datepicker-trigger {
    width: 1.5625rem;
    height: 1.5625rem;
    margin-top:.125rem;
    margin-left:.125rem;
}

.range-mark {
    margin-left: .5rem;
    margin-right: .5rem;
}

/* 리스트 내 검색 */

#search-box-list {

    select {
        width:auto;
    }

    input[type="text"].form-control {
        flex: 1;
        max-width: 400px;
    }

    button {

    }
}

/* 파일 업로드 영역 */
.filebox {
    input[type="file"] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip:rect(0,0,0,0);
        border: 0;
    }
    label {
        margin-bottom: 0;
        // display: inline-block;
        // padding: .5em .75em;
        // color: #999;
        // font-size: inherit;
        // line-height: normal;
        // vertical-align: middle;
        // background-color: #fdfdfd;
        // cursor: pointer;
        // border: 1px solid #ebebeb;
        // border-bottom-color: #e2e2e2;
        // border-radius: .25em;
    }
}

.address-form-in-table {
    flex-direction:column;

    .zipcode {
        display: flex;
        margin-right: auto;

        .zipcode-input {
            flex:auto;
        }
    }

    .address-lines {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        input[type="text"]{
            flex:1;
            &.first-line {
                margin-right: .25rem;
            }

            &.second-line {

            }
        }

    }
}


.contact-number {
    input {
        display: flex;
        flex: 1 1 auto;
        width: inherit !important;
        max-width: 3rem;
        text-align: center;
    }

    .hypen {
        margin-left: .25rem;
        margin-right: .25rem;
    }
}

.email-contact {
    input {
        &.email-name {
            flex:1;
        }

        &.email-provider {
            flex:1;
            margin-right: .25rem;
        }

        &.provider-preset {
            width:100%;
        }
    }
}


/* 달력 date picker 수정 */

.ui-datepicker {

    .ui-widget-header {
        background: none;
        border: 0;
    }

    td{
        a {
            padding: .6em .2em;
            text-align: center;
        }

        &.ui-datepicker-week-end  {
            &:first-child {
                a.ui-state-default {
                    color:#f53846;

                    &.ui-state-active {
                        color: #fff;
                    }
                }

            }
            &:last-child {
                a.ui-state-default {
                    color:#3779d0;

                    &.ui-state-active {
                        color: #fff;
                    }
                }
            }
        }
    }
}

a.ui-state-default {
    border:0 !important;
    background: #fff !important;
    color:#0f0f0f;

    &.ui-state-highlight {
        background: #768393 !important;
        color: #fff;
    }

    &.ui-state-active {
        background: #18a689 !important;
        color: #fff;
    }
}


/* autocomplete */
.ui-autocomplete {
    position: absolute;
    cursor: pointer;
    max-height: 200px;
    width: 240px;
    overflow-y: scroll;
    overflow-x: hidden;

    border:1px solid rgba(0,0,0,.2);

    background:#fff;

    box-shadow: 5px 5px 5px 0 rgba(0,0,0,.2);

    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 3px 5px;

        list-style: none;

        font-size: .875rem;

        &:nth-child(even) {
            background:rgb(245,245,245);
        }

        &:hover {
            background:rgb(235,235,235);
        }
    }
}
