@charset "UTF-8";

/*
**
** pdf-form.scss
** Author : 이영주
** Create date : 2018.04.11
** Description : Damoa 서비스에서 사용하는 간단한 유틸들 모음 damoa.scss 에서 최종으로 compile 됨
**
*/

body {
    font-size: 9pt;
}

h4 {
    margin: 0;
    text-align: left;
}

.num-label {
    display:inline-block;
    width: 15px;
    height:15px;
    background:#000;
    border-radius:50%;
    margin-right: 5px;

    color:#fff;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
    font-size: 10pt;

    border-left: 0;
    border-right: 0;

    tr {
        &.border-top-1-a1a1a1 {
            border-top: 1px solid #a1a1a1;
        }
    }

    th {
        &:first-child {
            border-left: 0;
        }

        &:last-child {
            border-right: 0;
        }
    }

    td {
        padding: 3px;
        vertical-align: text-top;

        &:first-child {
            border-left: 0;
        }

        &:last-child {
            border-right: 0;
        }
    }

    &.table {
        width:100%;
    }

    &.table-bordered {
        border-left: 0;
        border-right: 0;

        th {
            border:1px solid #a1a1a1;
        }

        td {
            border:1px solid #a1a1a1;
        }

        &.table-top-bottom-bordered {
            th {

                &:first-child {
                    border-left: 0;
                }

                &:last-child {
                    border-right: 0;
                }
            }

            td {
                &:first-child {
                    border-left: 0;
                }

                &:last-child {
                    border-right: 0;
                }
            }
        }
    }

    &.table-fixed-height {
        td {
            height: 28px;
        }
    }

    &.table-outline-bordered {
        border-top:1px solid #a1a1a1;
        border-bottom:1px solid #a1a1a1;
    }

    &.table-outline-bordered-2 {
        border-top:2px solid #a1a1a1;
        border-bottom:1px solid #a1a1a1;
    }

    &.table-outline-bordered-3 {
        border-top:1px solid #a1a1a1;
        border-bottom:2px solid #a1a1a1;
    }

    &.table-receipt {
        width:460px;
        margin-left: auto;
        margin-right: auto;
        border-top:2px solid #1e2022;
        border-bottom:1px solid #babed4;

        th {
            width: 33%;
            padding: 12px 25px;
            background:#f9f9f9;
            font-size: 10.5pt;
            font-weight: 700;
        }

        td {
            width: 67%;
            padding: 12px 25px;
            font-size: 10.5pt;
        }
    }

    &.table-has-padding {
        th,td {
            padding:7px 7px 5px;
        }
    }

    &.table-has-padding-edu {
        tr {
            font-size: 9pt !important;
        }
        th, td {
            padding: 2px 2px 2px 0;
            font-size: 9pt !important;
        }
    }

    &.table-font-size {
        font-size: 10pt !important;
    }
}

.receipt-title {
    margin-bottom: 20px;
    font-size:15pt;
    text-align: center;
}

.text-9pt {
    font-size: 9pt;
    text-align: center;
}

.issue-org {
    font-size: 12pt;
    font-weight: 700;
    text-align: center;
}

.receipt-divider {
    border:1px dotted #d6d6d6;
    margin: 60px 0;
}

.data-text {
    font-family: serif;
}

h3 {
    padding: 2px;
    font-size: 9pt !important;
}
