@charset "utf-8";

/* Layout */
#body {position:relative; text-align:center; min-height:100%; height:auto; min-width:980px; text-align:center;}
#header {position:absolute; left:0; top:0; width:100%; min-width:980px; height:70px; background-color:#fff; border-bottom:2px solid #3f80cc; z-index:100; overflow:hidden;} 
#container {clear:both; min-height:100%; }
#container:after {display:block; clear:both; content:'';} 

/* header ----- */
#header {}
/* logo */	
#header h1 {float:left; margin-top:15px; width:180px;}
#header h1 a {display:block; width:160px; height:30px; margin:0 0 0 10px; background:transparent url(../images/logo_sub.png) no-repeat 0% 0px;}
#header h1 a span {display:block; font-size:0; overflow:hidden; height:0; width:0; position:relative; z-index:-1;} /* 글씨 안보이게 */

/* gnb */	
#header ul.gnb {float:right; width:auto; margin:16px 10px 0 0;}
#header ul.gnb li {float:left; margin-right:10px;}
#header ul.gnb li a {display:inline-block; height:38px; margin-left:3px; background:transparent url(../images/bg_gnb.png) no-repeat 100% 0;}
#header ul.gnb li a span {display:inline-block; cursor:pointer; padding:10px 0 0 20px; margin-right:22px; height:28px; font-size:15px; color:#333; font-weight:bold; background:transparent url(../images/bg_gnb.png) no-repeat 0 0;}
#header ul.gnb li a:hover {text-decoration:none; color:#000; background-position:100% -40px;}
#header ul.gnb li a:hover span {color:#000; background-position:0% -40px;}
#header ul.gnb li.on a,
#header ul.gnb li.on a:hover {color:#fff;background-position:100% -80px;}
#header ul.gnb li.on a span,
#header ul.gnb li.on a:hover span {color:#fff; background-position:0% -80px;}

/* container ----- */
#container {text-align:center; padding-top:180px;}

.wrap_error {margin:0 auto; text-align:center; width:700px;}
.wrap_error img {margin-bottom:40px;}
.wrap_error h3 {margin-bottom:20px; font-size:30px; font-weight:bold; color:#333; letter-spacing:-0.05em;}
.wrap_error p {margin-bottom:40px; font-size:13px; color:#666; line-height:1.5em;}